__pycache__/
.venv/
.env
data/
*.pt
*.whl
dist/
.ipynb_checkpoints/
__pycache__/
.venv/
.env
data/
*.pt
*.whl
dist/
.ipynb_checkpoints/
runs/
*.mp4
*.jpg
*.png
*.zip
check_*.py
download_*.py
downoload_*.py
main.py
